<section class="section section--parchment" id="trails">
  <div class="container">
    <div class="trails__grid">
      <div class="trails__copy" data-reveal-group>
        <p class="eyebrow" data-reveal>{{trails.eyebrow}}</p>
        <h2 class="h2" data-reveal>{{trails.heading}}</h2>
        <p class="lead" data-reveal>{{trails.intro}}</p>
        {{#if trails.seasons}}
        <p class="trails__season" data-season-note hidden>
          {{#if trails.seasons.spring}}<span class="trails__season-line" data-season="spring" hidden>{{trails.seasons.spring}}</span>{{/if}}
          {{#if trails.seasons.summer}}<span class="trails__season-line" data-season="summer" hidden>{{trails.seasons.summer}}</span>{{/if}}
          {{#if trails.seasons.fall}}<span class="trails__season-line" data-season="fall" hidden>{{trails.seasons.fall}}</span>{{/if}}
          {{#if trails.seasons.winter}}<span class="trails__season-line" data-season="winter" hidden>{{trails.seasons.winter}}</span>{{/if}}
        </p>
        {{/if}}
        <p class="activities" data-reveal>{{#each trails.activities}}{{this.name}}{{#unless @last}} / {{/unless}}{{/each}}</p>
        <div class="nearby" data-reveal>
          <p class="nearby__label">{{trails.nearby.label}}</p>
          <p class="nearby__list">
            {{#each trails.nearby.places}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
          </p>
        </div>
        <a
          class="turnoff"
          href="{{site.directionsUrl}}"
          target="_blank"
          rel="noopener"
          data-reveal
        >
          <svg class="turnoff__icon" viewBox="0 0 100 100" aria-hidden="true">
            <path
              d="M50 0a3.5 3.5 0 0 0-3.5 3.5V8H15.396a1.5 1.5 0 0 0-1.093.475l-6.233 6.65a1.5 1.5 0 0 0 0 2.05l6.233 6.653a1.5 1.5 0 0 0 1.093.475H46.5v6.302H23.396a1.5 1.5 0 0 0-1.093.475l-6.233 6.65a1.5 1.5 0 0 0 0 2.051l6.233 6.653a1.5 1.5 0 0 0 1.093.474H46.5V93h-8a3.5 3.5 0 0 0-3.5 3.5a3.5 3.5 0 0 0 3.5 3.5h23a3.5 3.5 0 0 0 3.5-3.5a3.5 3.5 0 0 0-3.5-3.5h-8V35.605h27.104a1.5 1.5 0 0 0 1.093-.474l6.233-6.652a1.5 1.5 0 0 0 0-2.051l-6.233-6.65a1.5 1.5 0 0 0-1.093-.475H53.5V3.5A3.5 3.5 0 0 0 50 0z"
              fill="currentColor"
            />
          </svg>
          <span class="turnoff__body">
            <span class="turnoff__label">{{site.directionsWaypoint}}</span>
            <span class="turnoff__route">{{site.directionsLabel}}</span>
          </span>
          <span class="turnoff__cta">{{site.directionsCta}}</span>
        </a>
      </div>
      <div class="ph trails__media" data-label="{{trails.image.alt}}" data-reveal>
        {{#if trails.image.src}}<img src="{{trails.image.src}}" alt="{{trails.image.alt}}" />{{/if}}
      </div>
    </div>
  </div>
</section>
